PORT=5000
USE_ATLAS_SEARCH=false
MONGO_URI=mongodb://host.docker.internal:27017/snip
REDIS_PASSWORD=redisPassword
BASE_URL=http://localhost:5000/
JWT_SECRET=thisisaJWTprivatekey=20d
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN
JWT_REFRESH_SECRET=thisisaJWTrefreshPrivatekey
APP_URL=http://localhost:5173/
APP_URL_CORS=http://localhost:5173
NODE_ENV=production
RESEND_API_KEY=re-yourResendApiKey
LOG_LEVEL=info
REDIS_PORT=6379
PASSWORD_PEPPER=thisispasswordpepper